<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>TTT</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="./custom.css" rel="stylesheet" />
</head>

<body class="container">
    <form class="form-class">
        <div class="form-group">
            <input type="number" class="form-control" id="number" placeholder="Enter Number" name='number'>
        </div>
        <button id='submit-form' type="submit" class="btn btn-primary submit-btn btn-block">Submit</button>
    </form>
    <div id='Error'>Input an integer value greater than zero</div>
    <div id='table'>
        <table class="table table-light">
            <thead>
                <t r>
                    <th scope="col">Word </th>
                    <th scope="col">Frequency</th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>

    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="./script.js"></script>

</html>