h1{
    font-size: 12px;
}

#Error{
    display: none;
    text-align: center;
    margin-top: 20px;
}
.submit-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    background-color: black;
    box-shadow: none;
}

.submit-btn:hover{
    background-color: black;
}

#table{
    margin-top: 50px;
    display: none;
}

.form-class{
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    margin-top: 50px;
}